@media only screen and (min-width: 310px) and (max-width: 767px) {
  .home-carousel .owl-carousel {
    padding-top: 16px;
    padding-bottom: 10px;
  }

  .home-carousel h1 {
    font-size: 20px;
  }

  .slider-btn {
    font-size: 11px;
    margin-bottom: 15px;
  }

  .wecome-title {
    font-size: 22px;
  }

  .home-tabs li a i {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .home-tabs li,
  .home-tabs li a {
    margin-right: 0;
  }

  .home-tabs li a {
    font-size: 14px;
  }

  .tab-content {
    padding: 0;
  }

  .heading h2 {
    font-size: 22px;
    margin: 0;
  }

  .heading {
    margin-bottom: 8px;
  }

  .clear-xs {
    clear: both;
  }

  #footer {
    padding: 10px 0;
  }

  #footer h4 {
    margin-top: 15px;
  }

  #copyright p {
    margin-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .mb30 {
    margin-bottom: 10px;
  }

  .mt30 {
    margin-top: 10px;
  }

  .box-simple {
    margin-bottom: 18px;
  }

  .carousel-control .fa-chevron-circle-left,
  .carousel-control .fa-chevron-circle-right,
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    bottom: 0;
    z-index: 5;
    top: 0 !important;
  }

  .carousel-control {
    position: relative;
  }

  .carousel-control.right {
    right: 0;
    left: 50%;
  }

  .carousel-control.left {
    right: 0;
    left: 40%;
  }
}
