

<!DOCTYPE html>
<html lang="en">

<body>



<head>
    {{ partial "head.html" . }}
  </head>


    <script src="functions\js\Begin.js" type="text/javascript"></script>
    
    <script src="functions\js\jquery.min.js"></script>
    <script>
        $('.full_screen').click(function() {
            //alert('ff');
            $('#quest').removeClass('col-md-8');
            $('#quest').addClass('col-md-12');
            //pallette
            $('#pallette').addClass('hidden');
            $('.full_screen').addClass('hidden');
            $('.collapse_screen').removeClass('hidden');
        });

        $('.collapse_screen').click(function() {
            $('#quest').removeClass('col-md-12');
            $('#quest').addClass('col-md-8');
            //pallette
            $('#pallette').removeClass('hidden');
            $('.full_screen').removeClass('hidden');
            $('.collapse_screen').addClass('hidden');

        });
    </script>
</body>

</html>
